.general-bg {
    max-width: 500px;
    text-align: center;
    margin: 10px auto;
    background-color: hsl(37 100% 46%);
    border-radius: 10px;
    padding: 10px;
}

.gallery-img--bg {
    text-align: center;
    background-color: hsl(37 100% 46%);
    max-width: 60%;
    margin: 0 auto;
    border-radius: 10px;
  }
